body {
  background-color: var(--color-bg-canvas);
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: var(--space-md);

  -webkit-font-smoothing: antialiased;
}

#app {
  width: 100%;
}