body {
  background-color: rgb(var(--color-bg-canvas));
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  -webkit-font-smoothing: antialiased;
}

#app {
  width: 100%;
}

/* ==========================================================================
   ACCESSIBILITY OVERRIDES (Screen Reader Utilities)
   ========================================================================== */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}